/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 512px;
  background-color: #181d7b;
}

h1 {
  font-family: "Sigmar", sans-serif;
  color: #fff;
  letter-spacing: 1.5px;
  line-height: 32px;
  text-transform: uppercase;
}

p {
  font-family: "DM Sans", sans-serif;
  color: #fff;
}

/* Header */
.header_img {
  max-width: 512px;
}

/* Main */
#app_main {
  padding-top: 72px;
  padding-bottom: 60px;
}

.introduction {
  text-align: center;
}

.paragraph_introduction {
  padding-top: 16px;
  padding-bottom: 8px;
}

.custom_button {
  margin: 8px;
  padding: 8px 8px;
  width: 300px;
  height: 45px;
  border-style: none;
  border-radius: 0.8em;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #000;
}

.color_button {
  background-color: #5965f2;
  color: #fff;
}
