/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 512px;
  background-color: #181d7b;
}

h1,
h2 {
  font-family: "Sigmar", sans-serif;
  color: #fff;
  font-size: 28px;
  letter-spacing: 1.5px;
  line-height: 32px;
  text-transform: uppercase;
}

p {
  font-family: "DM Sans", sans-serif;
  color: #fff;
}

/* Header */
.header_img {
  max-width: 512px;
}

/* Main */
#app_main {
  padding-top: 72px;
  padding-bottom: 60px;
}

.introduction {
  text-align: center;
}

.paragraph_introduction {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
}

.custom_button {
  margin: 8px;
  padding: 8px 8px;
  width: 300px;
  height: 45px;
  border-style: none;
  border-radius: 0.8em;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #000;
}

.color_button {
  background-color: #5965f2;
  color: #fff;
}

/* Cards */
.cards {
  margin: 50px auto;
  padding: 50px 30px;
  min-width: 340px;
  min-height: 500px;
  border: none black;
  border-radius: 25px;
  color: #5d65d1;
  background-color: #5d65d1;
  max-width: 300px;
  position: relative;
}

.demo_img {
  max-width: 280px;
  border-radius: 1.2em;
}

.discord_icons {
  position: absolute;
  width: 70px;
  top: -35px;
  left: 30px;
}
